<!-- ----------------------------------- -----------------------------------
  LAYOUT
   ------------------------------------------------------------------------>
<div class="container">
  <ng-container *ngTemplateOutlet="header"></ng-container>
  <ng-container *ngTemplateOutlet="picList"></ng-container>
  <div class="canvas-container">
    <canvas id="annotationCanvas"></canvas>
  </div>
  <ng-container *ngTemplateOutlet="classList"></ng-container>
  <ng-container *ngTemplateOutlet="actionBtns"></ng-container>
</div>

<!-- ----------------------------------- -----------------------------------
  TEMPLATES
   ------------------------------------------------------------------------>
<ng-template #header>
  <div class="header page-header">
    <div class="page-title">
      <button mat-raised-button [routerLink]="['/datasets', datasetName]">
        <
      </button>
      <span>
        {{ datasetName }}
      </span>
    </div>
    <div class="page-action-buttons">
      <span>Training</span>
      <span>Validation</span>
      <button mat-raised-button color="primary">Finish</button>
    </div>
  </div>
</ng-template>

<ng-template #picList>
  <div class="pictures-list" *ngIf="!loadingPicture">
    <div
      class="picItem"
      *ngFor="let picUrl of datasetFolders.trainImagesFolder"
    >
      <img
        [src]="picUrl"
        class="picture-list-item"
        (click)="jumpToImageFromUrl(picUrl)"
      />
    </div>
  </div>
</ng-template>

<ng-template #actionBtns>
  <div class="action-buttons" *ngIf="!loadingPicture">
    <button mat-raised-button color="default" (click)="onPreviousImage()">
      <
    </button>
    <span>{{ currentImageIndex + 1 }}/{{ numberOfImages }}</span>
    <button mat-raised-button color="default" (click)="onNextImage()">></button>
  </div>
</ng-template>

<ng-template #classList>
  <div class="class-list">
    <h3>Classes</h3>
    <ng-container
      *ngFor="
        let class of [
          'DEG',
          'SEG',
          'J',
          'BAF',
          'RP',
          'P',
          'RS',
          'PL',
          'JE',
          'RL',
          'ATC',
          'ATP',
          'QM',
          'E',
          'EB',
          'RD',
          'O',
          'EG',
          'BAF_VERMELHA',
          'SO',
          'TT',
          'TL',
          'EX',
          'AR',
          'BG'
        ]
      "
    >
      <div (click)="addAnnotation(class)" class="class-list-item">
        {{ class }}
      </div>
    </ng-container>
  </div>
</ng-template>
